<ion-header>
  <ion-toolbar color="dark">
    <h3>Favorites</h3>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="dark">
  <div *ngIf="peliculas">
    <div *ngFor="let genre of genres">
      <ion-grid fixed *ngIf="peliculas[genre?.name]">
        <ion-row>
          <ion-col>
            <h4>
              {{ genre?.name }}
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
      <app-slideshow-poster *ngIf="peliculas[genre?.name]" [peliculas]='peliculas[genre?.name]'></app-slideshow-poster>
     </div>
  </div>
</ion-content>
